@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  width: 80vw;
  min-width: 800px;
  margin-inline: auto;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  font-weight: bold;
  color: darkslateblue;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 8px;
}

a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background-color: #eeeeee;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.fill {
  flex-grow: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}
